<!--
 * @version: 
 * @Author: zh
 * @Date: 2026-03-16 10:45:48
 * @LastEditTime: 2026-03-18 12:25:35
 * @Description: 
-->
{% load static %}

<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'frontend/favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vite App</title>
    <script type="module" crossorigin src="{% static 'frontend/assets/index-99AMNj9I.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'frontend/assets/index-D1t0PPQX.css' %}">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
